<div class="hero-unit">
<h1>Users</h1>
    <table style="margin-right:auto;margin-left:auto;width:450px;">
      <thead>
        <tr>
          <th>Username</th>
          <th>Add Friend</th>
        </tr>
      </thead>
      <tbody>
<% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, './'+user.username %></td>
        <td style="text-align:center;">
          <%= form_tag url_for(:controller => "users", :action => "createPartnership", :method => "POST"), :remote => false do %>
           <%= hidden_field_tag :partner, user.username %>
           <%= submit_tag "Add Friend", :class => "btn btn-primary" %>
           <% end %>
        </td>
      </tr>
<% end %>
    </tbody>
    </table>
  <div class="pagination" style="margin-left:auto;margin-right:auto;width:100%;text-align: center;">
    <% if params[:start].nil? then params[:start] = 0 end %>
    <ul>
      <% if params[:start].to_i > 0 %>
      <li><a href="/users/?start=<%= (params[:start].to_i-20).to_s %>&size=20">Prev</a></li>
      <% end %>

      <li><a href="/users/?start=<%= (params[:start].to_i+20).to_s %>&size=20">Next</a></li>
    </ul>
  </div>
</div>