<style type="text/css">
    .tabs-left > .nav-tabs > li > a {
        border-color: #eee #ddd #eee #eee;
    }
    .tabs-left > .nav-tabs > li > a:hover {
        border-color: #ddd #eee #ddd #ddd;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #eee;
    }
    .nav-tabs{
        width:120px;
        text-align:left;

    }
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        color: #000;
        background-color: #eee;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    .subTitle {
        float:right;
        text-align:center;
        border-top:1px solid #ddd;
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        border-bottom:1px solid #eee;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        width:200px;
        margin-bottom:-1px;
        z-index: 999;"
    }
</style>
<div class="hero-unit">
  <h1><%=  @user.username %></h1>
  <div class="subTitle"><h3 id="title">Informations</h3></div>
  <div style="clear:both;"></div>
  <div class="tabbable tabs-left" style="border:1px solid #ddd;padding:10px;border-radius: 7px;border-top-right-radius:0px;min-height: 300px;margin-left:100px;">
    <ul class="nav nav-tabs" style="min-height: 0px;margin-left:-131px;">
      <li class="active"><a href="#lA" data-toggle="tab" id="tab1">Informations</a></li>
      <li><a href="#lB" data-toggle="tab" id="tab2">Friends</a></li>
      <li><a href="#lC" data-toggle="tab" id="tab3">Results</a></li>
      <li><a href="#lD" data-toggle="tab" id="tab4">Statistics</a></li>
    </ul>
    <div class="tab-content">
      <!-- INFORMATIONS -->
      <div class="tab-pane active" id="lA">
      <% if @friends.include?(current_user) %>
      <div class="alert alert-info" style="text-align:center;">You're friend with <%= params[:id] %></div>
      <% elsif  @friends_nonconfirmed.include?(current_user) %>
      <div class="alert alert-warning" style="text-align:center;">Friend request sent</div>
      <% elsif @friends_toconfirmed.include?(current_user) %>
      <div class="alert alert-info" style="text-align:center;"><%= params[:id] %> sent you a friend request</div>
      <% end %>
        <% if @user.publicvisible.equal?(2) %>
            <p>Real name : <%= @user.realname %></p>
            <p>Email : <%= @user.email %></p>
            <p>User since : <%= @datecreated.day.to_s+"-"+@datecreated.month.to_s+"-"+@datecreated.year.to_s %></p>
        <% end %>
        <br>
        <% if current_user == params[:id] %>
        <%= link_to "Delete my account", @user.username, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'  %>
        <% else %>
            <% if !(@friends.include?(current_user) || @friends_nonconfirmed.include?(current_user) || @friends_toconfirmed.include?(current_user)) %>
                <%= form_tag url_for(:controller => "users", :action => "createPartnership", :method => "POST"), :remote => false do %>
                    <%= hidden_field_tag :partner, params[:id] %>
                    <%= submit_tag "Add Friend", :class => "btn btn-primary" %>
                <% end %>
            <% end %>
        <% end %>

        </p>
      </div>
      <!-- FRIENDS -->
      <div class="tab-pane" id="lB" style="text-align:left;">
        <table style="margin-left:auto;margin-right:auto;width:60%;">
          <thead>
          <th><h4>Name</h4></th>
          <th></th>
          </thead>
          <tbody>
        <% @friends.each do |p| %>
          <tr>
          <td><p><%= link_to p, "/users/"+p %></p></td>
          </tr>
        <% end %>


        <% @friends_nonconfirmed.each do |p| %>
          <tr>
            <td><p><a href="/users/<%= p %>" rel="tooltip" class="tltip" data-placement="right" title="waiting confirmation" style="color:#ff8c00;"><%= p %></a></p></td>
          </tr>
        <% end %>

        <% @friends_toconfirmed.each do |p| %>
          <tr>
            <td><p><a href="/users/<%= p %>" rel="tooltip" class="tltip" data-placement="left" title="Need confirmation" style="color:#006400;"><%= p %></a></p></td>
                  <td>
              <%= form_tag url_for(:controller => "users", :action => "confirmPartnership", :method => "POST"), :remote => false do %>
                  <%= hidden_field_tag :partner, p %>
                  <%= submit_tag "Confirm", :class => "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>

        </tbody>
        </table>


      </div>
      <!-- LIST OF TEAMS -->
      <div class="tab-pane" id="lC">
        <h2 style='text-align: left;'>Boxing</h2>
        <ul>
          <% if @boxing_entries.empty? %>
              No entry
          <% else %>
          <% @boxing_entries.each do |b| %>
              <li><%= Time.at(b['entrydate']/1000).day.to_s+"-"+Time.at(b['entrydate']/1000).month.to_s+"-"+Time.at(b['entrydate']/1000).year.to_s %> in <%= b['entrylocation'] %>. Round duration : <%= b['roundduration'] %></li>
          <% end %>
         <% end %>
        </ul>

        <h2 style='text-align: left;'>Cycling</h2>
        <ul>
        <% if @cycling_entries.empty? %>
              No entry
        <% else %>
          <% @cycling_entries.each do |b| %>
          <li><%= Time.at(b['entrydate']/1000).day.to_s+"-"+Time.at(b['entrydate']/1000).month.to_s+"-"+Time.at(b['entrydate']/1000).year.to_s %> in <%= b['entrylocation'] %>. Bicycle type : <%= b['bicycletype'] %>, course type <%= b['coursetype'] %></li>
          <% end %>
        <% end %>
        </ul>

        <h2 style='text-align: left;'>Soccer</h2>
        <ul>
        <% if @soccer_entries.empty? %>
              No entry
        <% else %>
           <% @soccer_entries.each do |b| %>
           <li><%= Time.at(b['entrydate']/1000).day.to_s+"-"+Time.at(b['entrydate']/1000).month.to_s+"-"+Time.at(b['entrydate']/1000).year.to_s %> in <%= b['entrylocation'] %>. Duration : <%= b['entryduration'] %></li>
           <% end %>
        <% end %>
        </ul>

        <h2 style='text-align: left;'>Running</h2>
        <ul>
          <% if @running_entries.empty? %>
              No entry
          <% else %>
              <% @running_entries.each do |b| %>
                  <li><%= Time.at(b['entrydate']/1000).day.to_s+"-"+Time.at(b['entrydate']/1000).month.to_s+"-"+Time.at(b['entrydate']/1000).year.to_s %> in <%= b['entrylocation'] %>. Duration : <%= b['entryduration'] %></li>
              <% end %>
          <% end %>
        </ul>

      </div>
      <div class="tab-pane" id="lD" style="overflow: none;text-align:center;">
        Loading ... Please wait<br><br>
        <%= image_tag("ajax-loader.gif") %>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
$('#tab1').click(function(){
$('#title').html("Informations");
});
$('#tab2').click(function(){
$('#title').html("Friends");
});
$('#tab3').click(function(){
$('#title').html("Results");
});
$('#tab4').click(function(){
  $('#title').html("Statistics");
  $("#lD").load("/users/stats/<%= params[:id] %>");
});

$('.tltip').tooltip();

</script>