<style type="text/css">
    .tabs-left > .nav-tabs > li > a {
        border-color: #eee #ddd #eee #eee;
    }
    .tabs-left > .nav-tabs > li > a:hover {
        border-color: #ddd #eee #ddd #ddd;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #eee;
    }
    .nav-tabs{
        width:120px;
        text-align:left;

    }
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        color: #000;
        background-color: #eee;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    .subTitle {
        float:right;
        text-align:center;
        border-top:1px solid #ddd;
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        border-bottom:1px solid #eee;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        width:200px;
        margin-bottom:-1px;
        z-index: 999;"
    }
</style>
<div class="hero-unit">
  <h1><%=  @user.username %></h1>
  <div class="subTitle"><h3 id="title">Informations</h3></div>
  <div style="clear:both;"></div>
  <div class="tabbable tabs-left" style="border:1px solid #ddd;padding:10px;border-radius: 7px;border-top-right-radius:0px;min-height: 300px;margin-left:100px;">
    <ul class="nav nav-tabs" style="min-height: 0px;margin-left:-131px;">
      <li class="active"><a href="#lA" data-toggle="tab" id="tab1">Informations</a></li>
      <li><a href="#lB" data-toggle="tab" id="tab2">Friends</a></li>
      <li><a href="#lC" data-toggle="tab" id="tab3">Results</a></li>
      <li><a href="#lD" data-toggle="tab" id="tab4">Statistics</a></li>
    </ul>
    <div class="tab-content">
      <!-- INFORMATIONS -->
      <div class="tab-pane active" id="lA">

        <% if @user.publicvisible.equal?(2) %>
            <p>
              Email : <%= @user.email %><br>
              Real name : <%= @user.realname %><br>
              Password : <%= @user.password %>
        <% end %>
        <br>
        <%= link_to "Delete", @user.username, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-large btn-primary'  %>
        </p>
      </div>
      <!-- FRIENDS -->
      <div class="tab-pane" id="lB">
        <h3>Friends</h3><br>
        <% @friends.each do |p| %>
          <%= p %><br>
        <% end %>
        <h3>Non confirmed</h3><br>
        <% @friends_nonconfirmed.each do |p| %>
            <%= p %><br>
        <% end %>
        <h3>To confirm</h3><br>
        <% @friends_toconfirmed.each do |p| %>
            <%= p %><br>
        <% end %>


      </div>
      <!-- LIST OF TEAMS -->
      <div class="tab-pane" id="lC">
        <h2 style='text-align: left;'>Boxing</h2>
        <ul>
          <% if @boxing_entries.empty? %>
              No entry
          <% else %>
          <% @boxing_entries.each do |b| %>
              <li><%= Time.at (b['entrydate'])%> in <%= b['entrylocation'] %>. Round duration : <%= b['roundduration'] %></li>
          <% end %>
         <% end %>
        </ul>

        <h2 style='text-align: left;'>Cycling</h2>
        <ul>
        <% if @cycling_entries.empty? %>
              No entry
        <% else %>
          <% @cycling_entries.each do |b| %>
          <li><%= Time.at (b['entrydate'])%> in <%= b['entrylocation'] %>. Bicycle type : <%= b['bicycletype'] %>, course type <%= b['coursetype'] %></li>
          <% end %>
        <% end %>
        </ul>

        <h2 style='text-align: left;'>Soccer</h2>
        <ul>
        <% if @soccer_entries.empty? %>
              No entry
        <% else %>
           <% @soccer_entries.each do |b| %>
           <li><%= Time.at (b['entrydate'])%> in <%= b['entrylocation'] %>. Duration : <%= b['entryduration'] %></li>
           <% end %>
        <% end %>
        </ul>

        <h2 style='text-align: left;'>Running</h2>
        <ul>
          <% if @running_entries.empty? %>
              No entry
          <% else %>
              <% @running_entries.each do |b| %>
                  <li><%= Time.at (b['entrydate'])%> in <%= b['entrylocation'] %>. Duration : <%= b['entryduration'] %></li>
              <% end %>
          <% end %>
        </ul>

      </div>
      <div class="tab-pane" id="lD" style="overflow: none;text-align:center;">
        Loading ... Please wait<br><br>
        <%= image_tag("ajax-loader.gif") %>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
$('#tab1').click(function(){
$('#title').html($(this).html());
});
$('#tab2').click(function(){
$('#title').html($(this).html());
});
$('#tab3').click(function(){
$('#title').html($(this).html());
});
$('#tab4').click(function(){
  $('#title').html($(this).html());
  $("#lD").load("/users/stats/<%= params[:id] %>");
});

</script>