<div class="hero-unit">
  <h1><%=  @user.username %></h1>
  <% if @user.publicvisible.equal?(2) %>
      <p>
  Email : <%= @user.email %><br>
  Real name : <%= @user.realname %><br>
  Password : <%= @user.password %>
  <% end %>
  <br>
  <%= link_to "Delete", @user.username, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-large btn-primary'  %>
       </p>
</div>