<style type="text/css">
    .tabs-left > .nav-tabs > li > a {
        border-color: #eee #ddd #eee #eee;
    }
    .tabs-left > .nav-tabs > li > a:hover {
        border-color: #ddd #eee #ddd #ddd;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #eee;
    }
    .nav-tabs{
        width:120px;
        text-align:left;

    }
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        color: #000;
        background-color: #eee;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    .subTitle {
        float:right;
        text-align:center;
        border-top:1px solid #ddd;
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        border-bottom:1px solid #eee;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        width:200px;
        margin-bottom:-1px;
        z-index: 999;"
    }
</style>
<script type="text/javascript">
    function bold(id){
        $('#'+id).css('font-weight', 'bold');
    }

    function normal(id){
        $('#'+id).css('font-weight', 'normal');
    }
    $(document).ready(function($) {
    $('#tab1').click(function(){
        $('#title').html($(this).html());
    });
    $('#tab2').click(function(){
        $('#title').html($(this).html());
    });
    $('#tab3').click(function(){
        $('#title').html($(this).html());
    });
    $('#tab4').click(function(){
        $('#title').html($(this).html());
    });
    });
</script>

<div class="hero-unit">
<h1>Events</h1>
  <div class="subTitle"><h3 id="title">Boxing</h3></div>
  <div style="clear:both;"></div>
  <div class="tabbable tabs-left" style="border:1px solid #ddd;padding:10px;border-radius: 7px;border-top-right-radius:0px;min-height: 300px;margin-left:100px;">
    <ul class="nav nav-tabs" style="min-height: 0px;margin-left:-131px;">
      <li class="active"><a href="#Boxing" data-toggle="tab" id="tab1">Boxing</a></li>
      <li><a href="#Cycling" data-toggle="tab" id="tab2">Cycling</a></li>
      <li><a href="#Running" data-toggle="tab" id="tab3">Running</a></li>
      <li><a href="#Soccer" data-toggle="tab" id="tab4">Soccer</a></li>
    </ul>
    <div class="tab-content">
       <% @sports.each do |name| %>
          <div class="tab-pane active" id="<%= name %>">
            <table class='table'>
              <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Players/Team</th>
                <th>Teams</th>
              </tr>
              </thead>
              <tbody>
              <% Event.where(:sport_id => name).each do |event| %>
                  <% if event.close == true
                       state = 'error'
                     end
                  %>
                  <tr class="<%= state %>" onmouseover="bold(<%=event.id %>)" onclick="location.href='<%=url_for(:action => 'show', :id =>  event.id) %>'" onmouseout="normal(<%=event.id %>)" id="<%=event.id %>">
                    <td><%= event.name %></td>
                    <td><%= event.description %></td>
                    <td><%= event.location %></td>
                    <td><%= event.nb_players %></td>
                    <td><%= event.teams.count %>/<%= event.nb_teams %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
       <% end %>
    </div>
  </div>
 <div style='width:95px;text-align: center; background-color: #F2DEDE;margin-top:20px;margin-left:700px;'>Closed event</div>
</div>
