<script>
    function bold(id){
        $('#'+id).css('font-weight', 'bold');
    }

    function normal(id){
        $('#'+id).css('font-weight', 'normal');
    }
</script>

<div class="hero-unit">
<h1>List of events</h1>
<table class='table'>

  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Players</th>
    <th>Teams</th>
  </tr>
  </thead>
<tbody>
<% @events.each do |event| %>
<% if event.close == true
    state = 'error'
   end
%>
    <tr class="<%= state %>" onmouseover="bold(<%=event.id %>)" onclick="location.href='<%=url_for(:action => 'show', :id =>  event.id) %>'" onmouseout="normal(<%=event.id %>)" id="<%=event.id %>">
      <td><%= event.id %></td>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.nb_players %></td>
      <td><%= event.teams.count %>/<%= event.nb_teams %></td>
    </tr>
<% end %>
</tbody>
</table>
 <div style='width:100px; background-color: #F2DEDE;'>Closed event</div>
</div>