<script>
    $(function() {
        $('#match_date').datepicker();
    });
</script>
<div class="hero-unit">
<h1><%= @event.name %></h1>
  <ul>
    <li>Id : <%= @event.id %></li>
    <li>Name : <%= @event.name %></li>
    <li>Description : <%= @event.description %></li>
    <li>Players : /<%= @event.nb_players %></li>
    <li>
    <% if !@teams.empty? %>
        <a href="#myModal" role="button" data-toggle="modal">Teams : <%= @teams.order(:team_nb).reverse.first.team_nb %>/<%= @event.nb_teams %></a>
    <% else %>
        Teams : 0/<%= @event.nb_teams %>
    <% end %>
    </li>

    <div class="modal hide fade" id="myModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>List of teams for event <%= @event.name %></h3>
      </div>
      <div class="modal-body">
        <ul>
          <% if !@teams.nil? %>
              <% last_team_nb = '' %>
              <% @teams.order(:team_nb).each do |t| %>
                  <% if last_team_nb != t.team_nb %>
                      </li>
                      <li style='list-style-type: disc;padding-top: 5px;'><strong>Team <%= t.team_nb %></strong></li>
                      <li style='list-style-type: none;'>
                  <% end %>
                  <%= t.user_id %>
                  <% last_team_nb = t.team_nb %>
              <% end %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>



  </ul>
  <% if !@event.close? && @taking_part == false %>
  <%= form_for(@team) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user %>
      <%= f.hidden_field :event_id, :value => params[:id] %>
      <%= f.submit "Take Part Now!", :class => "btn btn-large btn-primary" %>

  <% end %>
  <% end %>

  <% if @event.close? && !@taking_part %>
     <div>This event is full</div>
  <% end %>

  <% if @taking_part %>
      <div>You're taking part at this event</div>
  <% end %>

  <% if @admin %>
     <div>Generate next round</div>
      <%= form_for(@match) do |f| %>
          <%= f.hidden_field :event_id, :value => params[:id] %>

          <%= f.label :date %>
          <%= f.text_field :date, :style => 'width:100px;' %>

          <%= f.submit "Generate next round", :class => "btn btn-large btn-primary" %>

      <% end %>

      <% @matches.each do |match| %>
          <p>
        <%= match.team1_nb %> VS <%= match.team2_nb %>
          </p>
      <% end %>
  <% end %>


</div>
