<style type="text/css">
    .tabs-left > .nav-tabs > li > a {
        border-color: #eee #ddd #eee #eee;
    }
    .tabs-left > .nav-tabs > li > a:hover {
        border-color: #ddd #eee #ddd #ddd;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #eee;
    }
    .nav-tabs{
        width:120px;
        text-align:left;

    }
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        color: #000;
        background-color: #eee;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }

    .tournament {
        background-color: #EEE;
        border: dashed 1px solid;
        overflow: auto;
    }
    .tournament .bracket {
        background-color: #EEE;
        min-width: 100px;
        vertical-align: top;
        float: left;
    }

    .tournament .bracket .match {
        background-color: #d3d3d3;
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-top-right-radius:1em;
        border-bottom-right-radius:1em ;
    }
    .tournament .bracket .match .p1 {
        height: 20px;
    }
    .tournament .bracket .match .p2 {
        height: 20px;
    }
    .tournament .bracket .match .spacer {
        background-color: #EEE;
        height: 38px;
    }
    .tournament .bracket .spacer {
        height: 80px;
    }
    .tournament .bracket .half-spacer {
        height: 40px;
    }
    .tournament .bracket .small-spacer {
        height: 10px;
        background-color: #EEE;
    }
    .tournament .bracket .winner {
        border-bottom: 1px solid black;
        font-weight: bold;
    }

    .left-line {
        border-left: 1px solid;
    }

    .tournament .cell {
        min-width: 100px;
        height: 20px;
        float: left;
        background-color: #d3d3d3;
    }
    .tournament .l2 {
        background-color: #d3d3d3;
    }
    .tournament .lmax {
        width: 0px;
        clear: both;
    }
</style>
<script type="text/javascript">
    <% nbRound = (Math.log(@event.nb_teams)/Math.log(2)) %>
    var matchInfo = {
        "rounds" : [
                <% for i in 1..nbRound do %>
            { "name": "Round<%= i %>",
                "matches": [
                    <% if @matches.where(:level => i).empty? %>
                    <% for j in 1..(@event.nb_teams/(2**i)) do %>
                    { "id" : <%= i.to_s+""+j.to_s %>, "p1" : "?", "p2" : "?"},
                    <% end %>
                    <% else %>
                    <% @matches.where(:level => i).each do |match| %>
                    { "id" : <%= match.id %>, "p1" : "<% if @teamNames.where(:team_nb => match.team1_nb).empty? %><%= match.team1_nb %><% else %><%= @teamNames.where(:team_nb => match.team1_nb).first.name %><% end %>", "p2" : "<% if @teamNames.where(:team_nb => match.team2_nb).empty? %><%= match.team2_nb %><% else %><%= @teamNames.where(:team_nb => match.team2_nb).first.name %><% end %>"},
                    <% end %>
                    <% end %>
                ]
            },
                <% end %>
        ]
    };

    $(document).ready(function($) {
        $('#match_date').datepicker();
        $('span[id*=addName]').hide();
        $('a[id*="addName"]').click(function(){
            var id = $(this).attr("class");
            $('#addNameForm-'+id).show();
        });

        var base = $('#tournamentTree');
        var matchDivsByRound = [];

        for (var roundIndex=0; roundIndex<matchInfo.rounds.length; roundIndex++) {
            var round = matchInfo.rounds[roundIndex];
            var bracket = checkedAppend('<div class="bracket"></div>', base);
            var matchDivs = [];
            matchDivsByRound.push(matchDivs);

            //setup the match boxes round by round
            for (var i=0; i<round.matches.length; i++) {
                var vOffset = checkedAppend('<div></div>', bracket);

                var match = round.matches[i];
                var matchHtml = '<div class="match" id="match' + match.id + '">'
                        + '<div class="p1">' + fmtName(match.p1) + '</div>'
                        + '<div class="spacer"></div>'
                        + '<div class="p2">' + fmtName(match.p2) + '</div>';
                matchDiv = checkedAppend(matchHtml, bracket);
                matchDivs.push(matchDiv);

                if (roundIndex > 0) {
                    //row 2+; line up with previous row
                    var alignTo = matchDivsByRound[roundIndex-1][i*2];
                    //offset to line up tops
                    var desiredOffset = alignTo.position().top - matchDiv.position().top;

                    //offset by half the previous match-height
                    desiredOffset += alignTo.height() / 2;
                    vOffset.height(desiredOffset);
                } else {
                    checkedAppend('<div class="small-spacer"></div>', bracket);
                }

                if (roundIndex > 0) {
                    //tweak our size so we stretch to the middle of the appropriate element
                    var stretchTo = matchDivsByRound[roundIndex-1][i*2+1];
                    var newH = stretchTo.position().top + stretchTo.height()/2 - matchDiv.position().top;
                    var deltaH = newH - matchDiv.height();
                    matchDiv.height(newH);
                    var spacer = matchDiv.find('.spacer');
                    spacer.height(spacer.height() + deltaH);
                }
            }
        }
        //setup the final winners box; just a space for a name whose bottom is centrally aligned with the last match
        bracket = checkedAppend('<div class="bracket"></div>', base);
        var vOffset = checkedAppend('<div></div>', bracket);
        var alignTo = matchDivsByRound[matchInfo.rounds.length - 1][0]; //only 1 match in the last round
        var html = '<div class="winner"><% if @matches.where(:level => nbRound).first.nil? %> ? <% else %><%= @matches.where(:level => nbRound).first.winning_team_nb %><% end %></div>';
        var winnerDiv = checkedAppend(html, bracket);
        vOffset.height(alignTo.position().top - winnerDiv.position().top + alignTo.height() / 2 - winnerDiv.height());
    });

    function fmtName(name) {
        return null != name ? name : '?';
    }

    function checkedAppend(rawHtml, appendTo) {
        var html = $(rawHtml);
        if (0 == html.length) {
            throw "Built ourselves bad html : " + rawHtml;
        }
        html.appendTo(appendTo);
        return html;
    }
</script>

<div class="hero-unit">
<h1><%= @event.name %></h1>

  <% if !@event.close? && @taking_part == false %>
    <%= form_for(@team) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user %>
      <%= f.hidden_field :event_id, :value => params[:id] %>
      <%= f.submit "Take Part Now!", :class => "btn btn-large btn-primary" %>
    <% end %>
  <% end %>

  <% if @event.close? && !@taking_part %>
     <div>This event is full</div>
  <% end %>

  <% if @taking_part %>
      <div>You're taking part at this event</div>
  <% end %>


  <div class="tabbable tabs-left" style="border:1px solid #ddd;padding:10px;border-radius: 7px;min-height: 300px;margin-left:100px;">
    <ul class="nav nav-tabs" style="min-height: 0px;margin-left:-131px;">
      <li class="active"><a href="#lA" data-toggle="tab">Informations</a></li>
      <li><a href="#lB" data-toggle="tab" id="tabsMatches">Matches</a></li>
      <li><a href="#lC" data-toggle="tab">Teams</a></li>
      <% if @admin %>
       <li><a href="#lD" data-toggle="tab">Admin</a></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <!-- INFORMATIONS -->
      <div class="tab-pane active" id="lA">
        <div id="tournamentTree" class="tournament"></div>
        <ul>
          <li>Id : <%= @event.id %></li>
          <li>Name : <%= @event.name %></li>
          <li>Description : <%= @event.description %></li>
          <li>Players : <%=  %>/<%= @event.nb_players %></li>
          <li>
            <% if !@teams.empty? %>
                <a href="#myModal" role="button" data-toggle="modal">Teams : <%= @teams.order(:team_nb).reverse.first.team_nb %>/<%= @event.nb_teams %></a>
            <% else %>
                Teams : 0/<%= @event.nb_teams %>
            <% end %>
          </li>

          <div class="modal hide fade" id="myModal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>List of teams for event <%= @event.name %></h3>
            </div>
            <div class="modal-body">
              <ul>
                <% if !@teams.nil? %>
                    <% last_team_nb = '' %>
                    <% @teams.order(:team_nb).each do |t| %>
                        <% if last_team_nb != t.team_nb %>
                            </li>
                            <li style='list-style-type: disc;padding-top: 5px;'><strong>Team <%= t.team_nb %></strong></li>
                            <li style='list-style-type: none;'>
                        <% end %>
                        <%= t.user_id %>
                        <% last_team_nb = t.team_nb %>
                    <% end %>
                <% end %>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
      <!-- LIST OF MATCHES -->
      <div class="tab-pane" id="lB">
        <div id="pushTree"></div>

      </div>
      <!-- LIST OF TEAMS -->
      <div class="tab-pane" id="lC">
        <ul>
          <% if !@teams.nil? %>
              <% last_team_nb = '' %>
              <% @teams.order(:team_nb).each do |t| %>
                  <% if last_team_nb != t.team_nb %>
                      </li>
                      <li style='list-style-type: disc;padding-top: 5px;'><strong>Team <%= t.team_nb %>
                      <% if @teamNames.where(:team_nb => t.team_nb).empty? %>
                            </strong>
                            <% if !@teams.where(:team_nb => t.team_nb, :user_id => @current_user).empty? %>

                            <%= link_to("Add name", "#", :id => "addName-"+t.team_nb.to_s, :class => t.team_nb.to_s) %>
                            <span id="addNameForm-<%= t.team_nb.to_s %>">
                              <%= form_for @teamName, :remote => true do |f| %>
                                  <%= f.hidden_field :event_id, :value => params[:id] %>
                                  <%= f.hidden_field :team_nb, :value => t.team_nb %>
                                  <%= f.label :name %>
                                  <%= f.text_field :name, :style => 'width:100px;' %>

                                  <%= f.submit "Add team name", :class => "btn btn-primary btn-small" %>
                              <% end %>
                            </span>
                            <% end %>
                      <% else %>
                        [<%= @teamNames.where(:team_nb => t.team_nb).first.name %>]</strong>
                            <% if !@teams.where(:team_nb => t.team_nb, :user_id => @current_user).empty? %>
                            <%= link_to("Change name", "#", :id => "addName-"+t.team_nb.to_s, :class => t.team_nb.to_s) %>
                            <span id="addNameForm-<%= t.team_nb.to_s %>">
                              <%= form_for @teamNames.find(@teamNames.where(:team_nb => t.team_nb).first.id), :remote => true do |f| %>
                                  <%= f.hidden_field :id, :value => @teamNames.where(:team_nb => t.team_nb).first.id %>
                                  <%= f.label :name %>
                                  <%= f.text_field :name, :style => 'width:100px;' %>

                                  <%= f.submit "Add team name", :class => "btn btn-primary btn-small" %>
                              <% end %>
                            </span>
                            <% end %>
                      <% end %>
                      </li>
                      <li style='list-style-type: none;'>
                  <% end %>
                  <%= t.user_id %>
                  <% last_team_nb = t.team_nb %>
              <% end %>
          <% end %>
          </li>
        </ul>
      </div>
      <% if @admin %>
      <!--ADMIN-->
      <div class="tab-pane" id="lD">
        <% level=1 %>
        <% genNextM = true %>

            <h3 style="text-align:center;">List of matches</h3>
            <table>
              <tr>
                <% @matches.each do |match| %>
                    <% if match.level != level %>
                        </tr><tr>
                <% level = match.level %>
                    <% end %>
                    <td style="border:1px solid #d3d3d3;"><b><%= match.team1_nb %></b> VS <b><%= match.team2_nb %></b>
                      <% if match.winning_team_nb.nil? %>
                          <% genNextM = false %>
                          <%= form_for match, :remote => true do |f|%>

                              <%= f.label :winning_team_nb, 'Winner' %>
                              <%= select "match", "winning_team_nb", options_for_select([[match.team1_nb.to_s, match.team1_nb], [match.team2_nb.to_s, match.team2_nb]], match.winning_team_nb)  %>

                              <%= f.submit "Ok", :class => "btn btn-small btn-primary", :onClick => 'alert("Request saved")' %>
                          <% end %>
                      <% else %>
                          <br>Winner : <%= match.winning_team_nb %>
                      <% end %>
                    </td>
                <% end %>
                </table>
            <% if genNextM %>
                <div>Generate next round</div>
                <%= form_for(@match) do |f| %>
                    <%= f.hidden_field :event_id, :value => params[:id] %>

                    <%= f.label :date %>
                    <%= f.text_field :date, :style => 'width:100px;' %>

                    <%= f.submit "Generate next round", :class => "btn btn-primary" %>

                <% end %>
            <% end %>

      </div>
      <% end %>
    </div>
  </div>

</div>
