<% provide(:title, 'Home') %>
<style>
    .tabs-left > .nav-tabs > li > a {
        border-color: #eee #ddd #eee #eee;
    }
    .tabs-left > .nav-tabs > li > a:hover {
        border-color: #ddd #eee #ddd #ddd;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #eee;
    }
    .nav-tabs{
        width:120px;
        text-align:left;

    }
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        color: #000;
        background-color: #eee;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }
</style>

<div class="center hero-unit">

<h1 id="title">Welcome to CyberCoach</h1>
  <% if signed_in? %>
      <div class="tabbable tabs-left" style="border:1px solid #ddd;padding:10px;border-radius: 7px;min-height: 300px;margin-left:100px;">
        <ul class="nav nav-tabs" style="min-height: 0px;margin-left:-131px;">
          <li class="active"><a href="#lA" data-toggle="tab" id="tab1">Next events</a></li>
          <li><a href="#lB" data-toggle="tab" id="tab2">My events</a></li>
          <li><a href="#lC" data-toggle="tab" id="tab3">My matches</a></li>
          <li><a href="#lD" data-toggle="tab" id="tab4">My stats</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
            <table class="table table-hover">
              <tr><td><b>Name</b></td><td><b>Sport</b></td><td><b>Start</b></td><td><b>End</b></td></tr>
              <% @recent_events.each do |event| %>
                  <tr>
                    <td><%= link_to event.name, event %></td>
                    <td><%= event.sport_id %></td>
                    <td><%= event.begin %></td>
                    <td><%= event.end %></td>

                  </tr>
              <% end %>
              </table>
          </div>
          <div class="tab-pane" id="lB">


          </div>



          <div class="tab-pane" id="lD" style="overflow: none;">
              Loading ... Please wait<br>
              <%= image_tag("ajax-loader.gif") %>
          </div>
        </div>
      </div><br>


      <%= link_to 'Create new event', '/events/new', :class => 'btn btn-large btn-primary' %>
      <%= link_to 'All events', '/events/', :class => 'btn btn-large btn-primary' %>
  <% else %>
  <p style="text-align: center;"><%= image_tag('foot.jpg', :alt => '', :id => 'HomeImg') %></p>
  <p style="text-align: center;">The new social platform to organize your sport events.</p>
  <%= link_to 'Register', signup_path, :class => 'btn btn-large btn-primary' %>
  <%= link_to 'Login', signin_path, :class => 'btn btn-large btn-primary' %>
  <% end %>
</div>

<script>
    $(function () {

        $("#tab4").click(function() {
            $("#lD").load("/static/stats/");
        });

        $('#tab1').click(function(){
            $('#title').html('Next Events');
        });
        $('#tab2').click(function(){
            $('#title').html('My Events');
        });
        $('#tab3').click(function(){
            $('#title').html('My Matches');
        });
        $('#tab4').click(function(){
            $('#title').html('My Statistics');
        });

    })

</script>