<% provide(:title, 'Home') %>
<style>
    .tabs-left > .nav-tabs > li > a {
        border-color: #eee #ddd #eee #eee;
    }
    .tabs-left > .nav-tabs > li > a:hover {
        border-color: #ddd #eee #ddd #ddd;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #eee;
    }
    .nav-tabs{
        width:120px;
        text-align:left;

    }
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        color: #000;
        background-color: #eee;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }
</style>

<div class="center hero-unit">

<h1 id="title">Welcome to CyberCoach</h1>
  <% if signed_in? %>
      <div class="tabbable tabs-left" style="border:1px solid #ddd;padding:10px;border-radius: 7px;min-height: 300px;margin-left:100px;">
        <ul class="nav nav-tabs" style="min-height: 0px;margin-left:-131px;">
          <li class="active"><a href="#lA" data-toggle="tab" id="tab1">Next events</a></li>
          <li><a href="#lB" data-toggle="tab" id="tab2">My events</a></li>
          <li><a href="#lC" data-toggle="tab" id="tab3">My matches</a></li>
          <li><a href="#lD" data-toggle="tab" id="tab4">My stats</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
            <table class="table table-hover">
              <tr><td><b>Name</b></td><td><b>Sport</b></td><td><b>Start</b></td><td><b>End</b></td></tr>
              <% @recent_events.each do |event| %>
                  <tr>
                    <td><%= link_to event.name, event %></td>
                    <td><%= event.sport_id %></td>
                    <td><%= event.begin %></td>
                    <td><%= event.end %></td>

                  </tr>
              <% end %>
              </table>
          </div>
          <div class="tab-pane" id="lB">
            <% @my_events.each do |event| %>
                <p>
                  <%= link_to event.name, event %>
                  <%= event.sport_id %>
                  <%= event.begin %>
                  <%= if event.close?
                        'yes'
                      else
                        'no'
                      end %>
                </p>
            <% end %>
          </div>
          <div class="tab-pane" id="lC">
            <p>What up girl, this is Section C.</p>
          </div>
          <div class="tab-pane" id="lD">
            <div id="myCarousel" class="carousel slide" data-interval="false">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item"><div id="container" style="width: 650px; height: 400px; margin: 0 auto"></div></div>
                <div class="item"><div id="container1" style="width: 650px; height: 400px; margin: 0 auto"></div></div>
                <div class="item"><div id="container2" style="width: 650px; height: 400px; margin: 0 auto"></div></div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>

          </div>
        </div>
      </div><br>


      <%= link_to 'Create new event', '/events/new', :class => 'btn btn-large btn-primary' %>
      <%= link_to 'All events', '/events/', :class => 'btn btn-large btn-primary' %>
  <% else %>
  <p style="text-align: center;"><%= image_tag('foot.jpg', :alt => '', :id => 'HomeImg') %></p>
  <p style="text-align: center;">The new social platform to organize your sport events.</p>
  <%= link_to 'Register', signup_path, :class => 'btn btn-large btn-primary' %>
  <%= link_to 'Login', signin_path, :class => 'btn btn-large btn-primary' %>
  <% end %>
</div>

<script>
    $(function () {
        $('#tab1').click(function(){
            $('#title').html('Next Events');
        });
        $('#tab2').click(function(){
            $('#title').html('My Events');
        });
        $('#tab3').click(function(){
            $('#title').html('My Matches');
        });
        $('#tab4').click(function(){
            $('#title').html('My Statistics');
        });
        var chart;
        $(document).ready(function() {

            // Radialize the colors
            Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
                return {
                    radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                    stops: [
                        [0, color],
                        [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            });

            // Build the chart
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    backgroundColor: '#EEE',
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Browser market shares at a specific website, 2010'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                    percentageDecimals: 1
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function() {
                                return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Sports repartition',
                    data: [
                        ['Soccer',   <%= @nb_soccer %>],
                        ['Running',  <%= @nb_running %>],
                        ['Boxing',    <%= @nb_boxing %>],
                        ['Cycling',     <%= @nb_cycling %>]
                    ]
                }]
            });
        });

        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container1',
                    type: 'column',
                    backgroundColor: '#EEE'
                },
                title: {
                    text: 'Number of matches won and lost'
                },
                xAxis: {
                    categories: ['Soccer', 'Running', 'Boxing', 'Cycling']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '# of Matches'
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -20,
                    verticalAlign: 'top',
                    y: 0,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.x +'</b><br/>'+
                                this.series.name +': '+ this.y +'<br/>'+
                                'Total: '+ this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                        }
                    }
                },
                series: [{
                    name: 'Won',
                    data: [5, 3, 4, 7]
                }, {
                    name: 'Lost',
                    data: [2, 2, 3, 2]
                }]
            });
        });

    })

</script>